.accounts
  .wrap
    .container
      %h2
        Edit #{resource_name.to_s.humanize}
      %p.lead Edit your account information
      = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
        = f.error_notification
        .form-inputs
        .forms
          .row.names
            - if current_user.teacher?
              .col-md-2
                = f.input :title, collection: titles
              .col-md-5
                = f.input :first_name
              .col-md-5
                = f.input :last_name
            - else
              .col-md-6
                = f.input :first_name, label: "First Name", placeholder: "First Name"
              .col-md-6
                = f.input :last_name, label: "Last Name", placeholder: "Last Name"
          = f.input :email, :autofocus => true, placeholder: "Email"
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %p
              Currently waiting confirmation for: #{resource.unconfirmed_email}
          .row.mobilerows
            .col-md-6
              = f.input :sms_number, label: "Mobile Number", placeholder: "Mobile Number", :class => "mobilephoneforms"
            .col-md-6
              .form-group
                = f.input :sms_carrier, collection: Texter.carriers, :class => 'bootstrap-select', label: "Mobile Carrier"
          %h2 
            Plan
          %p.lead Edit your account type
          - if current_user.customer
            %fieldset.row
              .buttonset
                = f.radio_button :plan, "", class: "plan_value"
                = label :user_plan_, "", :class => 'plan_button' do
                  .title Basic Account
                  .pricing Free              
                = f.radio_button :plan, "plus", class: "plan_value"
                = f.label :plan_plus, "Plus Account", :class => 'plan_button' do
                  .title Plus Account
                  .pricing $1/per month 
                = f.radio_button :plan, "pro", class: "plan_value"
                = f.label :plan_pro, "Pro Account", :class => 'plan_button' do
                  .title Pro Account
                  .pricing $10/per year 
          - else
            You have to
            = link_to "activate billing", billing_edit_path
            before you can pick a plan
          %h3 
            Password
          .row
            .col-md-6
              = f.input :password, :autocomplete => "off", :hint => "Leave it blank if you don't want to change it", :required => false
            .col-md-6
              = f.input :password_confirmation, :required => false
          = f.input :current_password, :hint => "We need your current password to confirm your changes", :required => true
          .form-actions
            = f.button :submit, :class => 'btn-primary fixing updatebutton', :value => 'Update'
            = submit_tag 'Cancel', :type => :reset, :class => "btn btn-default fixing cancelbutton"
      %h3 Cancel my account
      %button.btn.btn-danger.cancel_fix{type: "button"}
        = link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete
      %button.btn.btn-default.nonlink  
        = link_to 'Back', :back
  
