:javascript
  var teacher_subdomains = #{School.teacher_subdomains.to_json};
.signups
  = form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f|
    .widget
      .header
        %h2 Registration
      .forms
        .tab.initial
          .row
            .form
              = f.label :first_name
              = f.text_field :first_name
          .row
            .form
              = f.label :last_name
              = f.text_field :last_name
          .row
            .form
              = f.label :email
              = f.email_field :email, required: true
          .row
            .form
              = f.label :password
              = f.password_field :password, required: true
          .row
            .form
              = f.label :password_confirmation, 'Confirm Password'
              = f.password_field :password_confirmation, required: true
        .tab.extra
          .student-block
            .row
              .form
                = f.label :sms_number, "Mobile Number"
                = f.text_field :sms_number, placeholder: '(___) ___-____'
            .row
              .form
                = f.label :sms_carrier, "Mobile Carrier"
                = f.select :sms_carrier, options_for_select(mobile_carriers)
          .teacher-block
            .row
              .form
                = f.label :title
                = f.select :title, options_for_select(titles)
        .completed
          .check
            %h3 Congratulations
            %span.fa-stack#checkmark
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-check.fa-stack-1x.fa-inverse
            %p You have successfully signed up for ClassStatus, check your e-mail to activate your account.
      .progress
      .footer
        .info
          %span
            Step
            %span.step 1
            of 2
          .buttons
            %button.cancel Cancel
            %button.next Next
