%hr
#plan_change.container
  .plans
    = form_for (current_user || User.new), url: plans_update_path, html: { class: :plan }  do |f|
      %div
        .name Basic
        .cost Free
      %hr/
      .features
        %div 1 class subscription
        .unlimited unlimited
        %div SMS messages
        .unlimited unlimited
        %div e-mails
        %div limited carriers
        = f.button "", name: "user[plan]", value: "", class: "plan-btn", disabled: current_user.plan.blank?
    = form_for (current_user || User.new), url: plans_update_path, html: { class: :plan }  do |f|
      %div
        .name Plus
        .cost $1/month
      %hr/
      .features
        .unlimited unlimited
        %div classes
        .unlimited unlimited
        %div SMS messages
        .unlimited unlimited
        %div e-mails
        .unlimited unlimited
        %div carriers
      - if current_user
        - if current_user.customer
          = f.button "", name: "user[plan]", value: :plus, class: "plan-btn", disabled: ("plus" == current_user.plan)
        - else
          = f.hidden_field :plan, value: :plus
          %script.stripe-button{"data-label" => "Change to this plan", "data-email" => current_user.email, "data-allow-remember-me" => "false", "data-description" => "($1 a month)", "data-key" => ENV['STRIPE_PUBLIC_KEY'], "data-name" => "ClassStatus Plus", :src => "https://checkout.stripe.com/checkout.js"}
      - else
        = link_to "", new_user_registration_path, class: 'plan-btn'
    = form_for (current_user || User.new), url: plans_update_path, html: { class: :plan }  do |f|
      %div
        .name Pro
        .cost $10/year
      %hr/
      .features
        .unlimited unlimited
        %div classes
        .unlimited unlimited
        %div SMS messages
        .unlimited unlimited
        %div e-mails
      - if current_user
        - if current_user.customer
          = f.button "", name: "user[plan]", value: :pro, class: "plan-btn", disabled: ("pro" == current_user.plan)
        - else
          = f.hidden_field :plan, value: :pro
          %script.stripe-button{"data-label" => "Change to this plan", "data-email" => current_user.email, "data-allow-remember-me" => "false", "data-description" => "($10 a year)", "data-key" => ENV['STRIPE_PUBLIC_KEY'], "data-name" => "ClassStatus Pro", :src => "https://checkout.stripe.com/checkout.js"}
      - else
        = link_to "", new_user_registration_path, class: 'plan-btn'
%hr/
.container
  .stripe
    .text
      .builtgroup
        %h1.built Built with
        .stripelogo
      %p.stripe_description We process payments with Stripe, a powerful and friendly way to accept payments online.  We use them for your convenience and to guarantee your information stays safe.
    .lock
