.class-index
  .container
    %h1.main-title My Classes

    %ul.classes
      - @class_sessions.each do |class_session|
        %li.class.col-md-4.col-sm-md-6
          .info
            %p.class_name
              = link_to class_session.name, class_session
            %p.teacher
              = class_session.teachers.first.attributes.slice("title", "last_name").values.join(" ").strip

            - if class_session.days["monday"]
              %b MON
            - else
              %span MON
            - if class_session.days["tuesday"]
              %b TUE
            - else
              %span TUE
            - if class_session.days["wednesday"]
              %b WED
            - else
              %span WED
            - if class_session.days["thursday"]
              %b THU
            - else
              %span THU
            - if class_session.days["friday"]
              %b FRI
            - else
              %span FRI 

            %p.time
              = l class_session.start_time
              \ -
              = l class_session.end_time
          .options 
            = link_to 'Profile', class_session, class: "btn btn-default"
