.page
  .wrap
    .container
      %h1= @class_session.name
      .classinfo
        Section 
        = @class_session.class_code
        - unless @class_session.location.blank?
          \-
          = @class_session.location
      %span.days
        %i.fa.fa-calendar.fa-lg.padfix
        - if @class_session.days["sunday"]
          %b SUN
        - if @class_session.days["monday"]
          %b MON
        - else
          %span MON
        - if @class_session.days["tuesday"]
          %b TUE
        - else
          %span TUE
        - if @class_session.days["wednesday"]
          %b WED
        - else
          %span WED
        - if @class_session.days["thursday"]
          %b THU
        - else
          %span THU
        - if @class_session.days["friday"]
          %b FRI
        - else
          %span FRI
        - if @class_session.days["saturday"]
          %b SAT
      %span.time
        %i.fa.fa-clock-o.fa-lg.padfix

        = l @class_session.start_time
        \ -
        = l @class_session.end_time
      %span.teacher
        %i.fa.fa-user.fa-lg.padfix
        = @class_session.teachers.first.attributes.slice("title", "last_name").values.join(" ").strip
      %hr
      - if signed_in?
        - if can? :edit, @class_session
          = link_to 'Edit', edit_class_session_path(@class_session), class: "btn btn-default"
        - if can? :cancel, @class_session
          = link_to 'Cancel this class', cancel_class_session_path(@class_session), class: "btn btn-default"
        - if can? :destroy, @class_session
          = link_to 'Delete this class', class_session_path(@class_session), class: "btn btn-default", method: :delete, data: { confirm: "Are you sure?  This will permanently delete #{@class_session.name}." }
        - unless @class_session.teachers.include? current_user
          - if @class_session.subscribers.include? current_user
            = link_to 'Unsubscribe', subscribe_class_session_path(@class_session), method: :delete, class: "btn btn-default"
          - else
            = link_to 'Subscribe', subscribe_class_session_path(@class_session), method: :post, class: "btn btn-default"
      = link_to 'Back', class_sessions_path, class: "btn btn-default"
