%header#header.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_url, class: "navbar-brand" do
        = image_tag "logo.png", class: "logo", width: 40, height: 40
        %span.brand ClassStatus
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if signed_in?
          %li
            %form.search{ action: class_sessions_path }
              %i.fa.fa-search
              = search_field_tag :search, params[:search]
              %button.searchbutton{ action: class_sessions_path } SEARCH
          %li.user-link= link_to "Sign Out", destroy_user_session_path, method: :delete
          %li.user-link= link_to "Edit Account", edit_user_registration_path
        - else
          %li.user-link= link_to "Sign In", new_user_session_path
          %li.user-link= link_to "Register", new_user_registration_path
        - if signed_in?
          %li= link_to "Class Sessions", class_sessions_path
          - if can?(:create, ClassSession)
            %li= link_to "Add Class", new_class_session_path

- unless notice.blank?
  .alert.alert-success.alert-dismissable<
    .container
      = notice
      .button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
- unless alert.blank?
  .alert.alert-warning.alert-dismissable
    .container
      = alert
      .button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
- unless error.blank?
  .alert.alert-danger.alert-dismissable
    .container
      = raw error
      .button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
